@import 'tailwindcss';

@utility grid-cols-app {
  grid-template-columns: 15vw 1fr;
}

@utility grid-rows-app {
  grid-template-rows: 80px 1fr 80px;
}

@utility grid-cols-narrow {
  grid-template-columns: 1fr 3fr 1fr;
}

@utility grid-cols-wide {
  grid-template-columns: 1fr 5fr 1fr;
}

@utility box {
  @apply border-b border-b-gray-200 p-2;
}

html,
body {
  @apply bg-stone-200;
}

a,
a:visited {
  @apply text-blue-300;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

.box-table {
  @apply border-spacing-2 w-full;
}

.box-table thead {
  @apply border-b-gray-300 border-b;
}

.box-table td,
.box-table th {
  @apply p-2;
}

.box-table tr:nth-child(even) {
  @apply bg-gray-100;
}
